<% if notice %>
<div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= notice %>
</div>
<% end %>
<div class="col-lg-12">
  <h1><%= t('editing_settings') %></h1>
</div>

<%= render 'form' %>

