/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-material-design
 */

* {
    box-sizing: border-box;
}

h1 {
  font-family: satellite !important;
}

.header-panel {
    background-color: #009587;
    height: 144px;
    position: relative;
    z-index: 3;
}

.header-panel div {
    position: relative;
    height: 100%;
}

.header-panel h1 {
    color: #FFF;
    position: absolute;
    bottom: 10px;
    padding-left: 35px;
}

.menu {
    overflow: auto;
    padding: 0;
}

.menu, .menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu ul {
    padding: 0;
    margin: 7px 0;
}

.menu ul li {
    list-style: none;
    padding: 20px 0 20px 50px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.menu ul li.active {
    background-color: #dedede;
    position: relative;
}

.menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
}

.pages > div {
    padding: 0 5px;
    padding-top: 64px;
}

.pages .header {
    color: rgb(82, 101, 162);
}

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
}

.page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
}

.opensource {
    color: rgba(0, 0, 0, 0.62);
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 100;
}

#source-modal h4 {
    color: black;
}

#paypal .btn {
    padding: 5px 30px 6px 30px;
}

#paypal input {
    background: transparent;
    border: 0;
}

.cbwrapper div {
    display: none;
}

.cbwrapper div:nth-child(2) {
    display: block;
}

#carbonads, #fakecb {
    border: 1px solid #d5d5d5;
    font-size: 11px;
    line-height: 15px;
    overflow: hidden;
    width: 340px;
    padding: 20px;
    margin: auto;
    height: 142px;
    border-radius: 2px;
}

#carbonads .carbon-img {
    float: left;
    display: block;
}

#carbonads .carbon-text, #carbonads .carbon-poweredby {
    float: left;
    width: 150px;
    padding: 0 10px 10px 10px;
}

#carbonads .carbon-text:hover, #carbonads .carbon-poweredby:hover {
    text-decoration: none;
}

#carbonads .carbon-poweredby {
    color: #9D9D9D;
}

#shadow .sample {
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    display: inline-block;
}

#shadow-sample2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

#shadow-sample3 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    border-radius: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#input .inputs {
    width: 80%;
}

body {
    padding-top: 0;
}

.fontJedi {
   font-family: starjedi !important;
}

.fontSatellite {
    font-family: satellite !important;
}

.app_version {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    left: 55px;
}
