@font-face {
    font-family: 'starjedi';
    src: url('/assets/starjedi.ttf') format('truetype');
}
@font-face {
    font-family: 'satellite';
    src: url('/assets/Satellite.otf') format('truetype');
}
.noMargin {
    margin: 0px;
}
.noPadding {
  padding: 0px;
}
.floatLeft {
    float: left;
    margin-right: 8px;
}
.navbar .navbar-nav > li > a {
    font-size: 15px;
}
.dues-logo {
    width: 80px;
}
.navbar .navbar-brand {
    padding-top: 10px;
}
.user_name {
  font-family: satellite !important;
  font-size: 25px!important;
  padding: 0px 0px 0px 10px!important;
}
